#!/bin/bash
#读取vars变量，for循环遍历读取变量在ansible_server生成脚本，然后在远端执行,在远端不留痕迹，通过内置变量读取密码和对应的host,不需要修改多余文件
{% for node in groups.clusters %}
sshpass -p '{{ ansible_password }}' ssh-copy-id -o stricthostkeychecking=no {{ node }}
{% endfor %}
